<h1>Details</h1>

<ul class="DETAILS">

<%@root.each do |r|%>
    <li class="<%=r['source_db']%>" title="<%=r['source_db']%>" alt="<%=r['source_db']%>"><%=r['protein_id']%> (<%=r['organism_name']%>)</li>
<%end%>
</ul>